NASA MARS NEWS

In [13]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo
from splinter import Browser

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
There is no [win32] chromedriver for browser 93.0.4577 in cache
Get LATEST driver version for 93.0.4577
Trying to download new driver from https://chromedriver.storage.googleapis.com/93.0.4577.63/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\cokuk\.wdm\drivers\chromedriver\win32\93.0.4577.63]

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title = soup.find_all('div', class_ = 'content_title')[0].text
paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
print(f'The latest news Title is: {title}')
print(f'The latest news Paragraph is: {paragraph}')

The latest news Title is: Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch
The latest news Paragraph is: A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff.

In [5]:
base_image_url = 'https://spaceimages-mars.com'

browser.visit(base_image_url)

In [6]:
button_click = browser.find_by_tag ('button')[1]
button_click.click()

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
full_image_url = soup.find_all('img')
full_image_url

[<img id="logo" src="image/nasa.png"/>,
 <img class="headerimage fade-in" src="image/featured/mars1.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Sirenum Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles3.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Atlantis Chaos.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Reull Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles3.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Sirenum Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img id="pic" src=""/>,
 <img alt="Card image cap" class="card-img-top" src="https://www.jpl.nasa.gov/assets/images/content/tmp/images/jpl_photojournal(3x1).jpg"/>,
 <img alt="Card image cap" class="card-img-top" src="https://www.jpl.nasa.gov/assets/images/content/tmp/images/nasa_images(3x1).jpg"/>,
 <img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA24304---CatScanMars-16-640x350.gif"/>,
 <img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/PIA23491-16-640x350.jpg"/>,
 <img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA23180-16-640x350.gif"/>,
 <img alt="" class="fancybox-image" src="image/featured/mars1.jpg"/>]

In [10]:
featured_url = soup.find('img', class_='fancybox-image')['src']
featured_url = base_image_url + featured_url
featured_url

'https://spaceimages-mars.comimage/featured/mars1.jpg'

MARS FACTS

In [27]:
#use Pandas to scrape
import pandas as pd
url = 'https://galaxyfacts-mars.com'
tables = pd.read_html(url)
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [28]:
type(tables)

list

In [29]:
df = tables[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [30]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>      <th>2</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [32]:
#saving the table to html table
df.to_html('Mars Fact Table.html')

MARS HEMISPHERE

In [33]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [34]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
results = soup.find_all('div', class_='item')
print(results[0])

<div class="item">
<a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>
<!-- end description -->
</div>

In [39]:
hemisphere_image_urls = []
for result in results:
    title = result.find('h3').text
    img_url = result.find('img', class_='thumb')['srcC:\Users\cokuk\OneDrive\Desktop\web-scraping-challenge\Missions_to_Mars\app.py']
    hemisphere_image_urls.append({"title":title, "img_url": img_url })
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [40]:
browser.quit()

In [ ]:
return